
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
$font-family: 'Raleway';
$body-background: #f1f1f1;
$sidebar-width: 200px;
$header-height: 3.25rem;
$column-gap: 0.25rem;
$primary: #0099CC;
// $primary: #FF3333;
$red: #f4645f;
$info: #64B5F6;
$shadow: rgba(205,210,214,.8);

// Bulma
@import "~bulma/bulma";


.is-white {
  background-color: $white;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .header {
    position: fixed;
    width: 100%;
    z-index: 99;
    height: $header-height;
  }
  .app-content {
    margin-top: 3.25rem;
    min-height: calc(100vh - 3.25rem);
    width: 100%;
    .has-sidebar {
      margin-left: $sidebar-width;
      @include mobile {
        margin-left: 0;
      }
    }
    .overview {
      display: flex;
      flex-direction: column;
      .page-content {
        flex: 1;
      }
    }
  }
}

.nav {
  .brand {
    width: 212px;
    margin-left: -.75rem;
    background-color: $body-background;
    z-index: 75;
    font-size: $size-4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4a4a4a;
    font-weight: 400;
    @include mobile {
      width: $sidebar-width / 100 * 75;
      margin-left: 0;
    }
  }
}

.form {
  &.is-small {
    width: 500px;
    background-color: white;
    box-shadow: 0px 1px 5px rgba(gray, 0.4);
    padding: 1rem;
    margin: 1rem auto;
    h1 {
      border-bottom: 1px solid rgba(gray, 0.2);
    }
    @include mobile {
      width: 100%;
    }
  }
}



.sidebar {
  background-color: white;
  position: fixed;
  width: $sidebar-width;
  height: calc(100vh - 3.25rem);
  transition: 0.4s;
  overflow-y: auto;
  z-index: 99;
  .menu-label {
    padding: .25rem .5rem;
    margin-bottom: .25rem;
  }
  @include mobile {
    transform: translateX(-100%);
    width: $sidebar-width / 100 * 75;
    &.is-active {
      transform: none;
    }
  }
  .menu-list {
    li a {
      padding: .5rem 1rem;
    }
  }
}

.redirecter {
  cursor: pointer;
}

.breadcrumb {
  li {
    &.is-active {
      a {
        color: $primary;
      }
    }
  }
  & li:first-child a {
    padding-left: 0;
  }
}

.tabs {
  background: $white;
  @include mobile {
    flex-direction: column;
  }
  ul {
    li {
      align-items: center;
      justify-content: center;
      display: flex;
    }
    li, a {
      height: 100%;
    }
    li a.button {
      height: auto;
    }
    &.is-center {
      justify-content: center;
    }
    &.is-right {
      justify-content: flex-end;
    }
  }
}

a.no-link {
  text-decoration: none;
  &:hover, &:active, &:focus {
    border-bottom: 1px solid transparent;
    background-color: inherit;
  }
}

.no {
  &-margin {
    margin: 0;
  }
  &-margin-left {
    margin-left: 0;
  }
  &-margin-right {
    margin-right: 0;
  }
  &-margin-top {
    margin-top: 0;
  }
  &-margin-bottom {
    margin-bottom: 0;
  }
}

.has {
  &-margin {
    margin: 1rem;
  }
  &-margin-left {
    margin-left: 1rem;
  }
  &-margin-right {
    margin-right: 1rem;
  }
  &-margin-top {
    margin-top: 1rem;
  }
  &-margin-bottom {
    margin-bottom: 1rem;
  }
}

.has {
  &-padding {
    padding: 1rem;
  }
  &-padding-left {
    padding-left: 1rem;
  }
  &-padding-right {
    padding-right: 1rem;
  }
  &-padding-top {
    padding-top: 1rem;
  }
  &-padding-bottom {
    padding-bottom: 1rem;
  }
}

.overview {
  padding: 1rem;
  height: calc(100vh - 3.25rem) ;

}

.toggle-tab {
  display: none;
  &.is-active {
    display: block;
  }
}

.notification {
  // margin-left: $sidebar-width;
  margin-bottom: 1rem;
}

.field-body {
  flex-grow: 6;
}

.content-manager {
  display: flex;
  flex-direction: row;
  @include mobile() {
    flex-direction: column;
  }
  .content-item {
    padding: 0.5rem;
    border: 1px solid rgba(gray, 0.2);
    margin-bottom: 5px;
    cursor: pointer;
    z-index: 1;
    background-color: $white;
    &:hover {
      background-color: darken($white, 5%);
    }
  }
  .content-sidebar {
    width: 250px;
    padding: 1rem;
    flex: 0 1 auto;
    background-color: $white;
    margin-right: 1rem;
    @include mobile {
      width: 100%;
      margin-right: 0;
      margin-bottom: 1rem;
    }
    .content-list {
      margin-top: 5px;
      .content-item .delete {
        display: none;
      }
    }
  }
  .pages-manager {
    // flex: 1;
    background-color: $white;
    margin-left: 1rem;
    padding: 0.5rem 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    @include mobile {
      flex-direction: column;
      flex-wrap: nowrap;
      margin-left: 0;
    }
    .page {
      padding: 1rem;
      border: 1px solid rgba(gray, 0.4);
      position: relative;
      flex-basis: calc(50% - 2rem);
      margin: 0.5rem 1rem;
      @include mobile {
        flex-basis: calc(100% - 2rem);
      }
      .droppable {
        min-height: 45px;
        position: relative;
      }
    }
  }
}

.menu {
  .menu-list {
    li a[disabled] {
      color: gray;
      pointer-events: none;
      cursor: default;
    }
  }
}

.fixed-bottom {
  position: fixed;
  bottom: 1rem;
  left: 2rem;
  &.is-right {
    left: inherit;
    right: 2rem;
  }
}

.ui-draggable-dragging.is-new {
  width: 250px;
}

.notification {
  &.modified {
    display: none;
    position: fixed;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    padding: 1rem;
  }
}

.hidden {
  display: none;
}

.image {
  &.is-small {
    width: auto;
    height: 150px;
  }
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.has-pointer {
  cursor: pointer !important;
}

.width-auto {
  width: auto;
}

.has-margin-sidebar {
  margin-left: $sidebar-width;
  @include mobile {
    margin-left: 0;
  }
}

.has-margin-header {
  margin-top: $header-height;
}

.modal {
  .modal-content {
    max-width: 75%;
    max-height: 75%;
    &.has-overflow-hidden {
      overflow: hidden;
    }
  }
  &.is-top {
    align-items: flex-start;
    .modal-content {
      margin-top: $header-height;
    }
  }
  &.is-mobile-only {
    position: static;
    display: block;
    @include mobile {
      display: none;
      position: fixed;
      &.is-active {
        display: flex;
      }
    }
    .modal-content {
      width: 100%;
      max-width: none;
      max-height: none;
      margin: 0;
      @include mobile {
        max-width: 75%;
        max-height: 75%;
        margin: 1rem;
        .box {
          margin-bottom: 0;
        }
      }
    }
    .model-close {
      display: none;
      @include mobile {
        display: inherit;
      }
    }
    .modal-background {
      display: none;
      @include mobile {
        display: inherit;
      }
    }
  }
}

.post-list-wrapper {
  background-color: $white;
  .post-list-item {
    padding: 0.5rem 1rem;
  }
  hr {
    margin: 0;
  }
  .title {
    margin-bottom: 0;
  }
  .post-list {
    display: flex;
    flex-direction: column;
    li {
      a {
        display: block;
        border-bottom: 1px solid rgba(gray, 0.4);
        position: relative;
        height: 20px * 2;
        &:after {
          content: '';
          display: none;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%) translateX(100%);
          border-top: 20px solid transparent;
          border-bottom: 20px solid transparent;
          border-left: 20px solid $primary;
        }
        &.is-active, &:hover {
          &:after {
            display: block;
          }
        }
        &:hover, &.is-active {
          background-color: $primary;
          color: white;
        }
      }
      &:last-child a {
        border-bottom: 0;
      }
    }
  }
}

.box:nth-last-child(1) {
  margin-bottom: 1.5rem;
}

.break-all {
  word-break: break-all;
}

.tooltip {
  position: relative;
  overflow: hidden;
  &:hover {
    overflow: visible;
    .tooltip-content {
      opacity: 1;
    }
  }
  .tooltip-content {
    background: $primary;
    box-shadow: 0 5px 25px 5px $shadow;
    box-sizing: border-box;
    color: $white;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 1px;
    max-width: 200px;
    min-width: 145px;
    padding: 1em;
    position: absolute;
    opacity: 0;
    transition: all .3s ease;
    &::after {
      background: $primary;
      content: "";
      height: 10px;
      position: absolute;
      transform: rotate(45deg);
      width: 10px;
    }
  }

  &.top {
    .tooltip-content {
      bottom: calc(100% + 1.5em);
      left: 50%;
      transform: translateX(-50%);
      &::after {
        bottom: -5px;
        left: 50%;
        margin-left: -5px;
      }
    }
  }

  &.bottom {
    .tooltip-content {
      bottom: calc(-100% - 1.8em);
      left: 50%;
      transform: translateX(-50%);
      &::after {
        top: -5px;
      }
    }
  }

  &.right {
    .tooltip-content {
      left: calc(100% + 1.5em);
      top: 50%;
      transform: translateY(-50%);
      &::after {
        left: -5px;
        margin-top: -5px;
        top: 50%;
      }
    }
  }
  &.left {
    .tooltip-content {
      right: calc(100% + 1.5em);
      top: 50%;
      transform: translateY(-50%);
      &::after {
        right: -5px;
        margin-top: -5px;
        top: 50%;
      }
    }
  }

}

.content-list {
  .tooltip {
    display: none;
  }
}

.copy-field {
  display: none;
}

.grow { flex-grow: 1 }
.align-center {display: flex; align-items: center;}
